<div class="container mt-4">
    <p class="bg-primary title-service">Bloquear o desbloquear vehiculo</p>
    <form [formGroup]="form">
        <div class="row mb-4 mt-3">
            <div class="col">
                <h6 class="mb-3">Fecha</h6>
                <div class="row">
                    <div class="col">
                        Fecha Inicial
                        <input class="form form-control" formControlName="initial_date_services" type="date" name=""
                            id="">
                    </div>
                    <div class="col">
                        Fecha Final
                        <input class="form form-control" formControlName="final_date_services" type="date" name=""
                            id="">
                    </div>
                </div>
            </div>
            <div class="col">
                <h6 class="mb-3">Hora</h6>
                <div class="row">
                    <div class="col">
                        <span>
                            Hora Inicial
                            <input class="form form-control" formControlName="start_time" type="time" name="" id="">
                        </span>
                    </div>
                    <div class="col">
                        Hora Final
                        <input class="form form-control" formControlName="final_time" type="time" name="" id="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                Placa de vehiculo
                <select formControlName="vehicle_plate" class="custom-select" id="inputGroupSelect04">
                    <option value=''>Placas Disponibles</option>
                    <option *ngFor="let item of arrayVehiculo" value="{{item.placaVehiculo}}">{{item.placaVehiculo}}
                    </option>
                </select>
            </div>
            <div class="col">
                Estado
                <select formControlName="state" class="custom-select" id="inputGroupSelect04">
                    <option value=''>Estados Disponibles</option>
                    <option value="48"> Bloqueado </option>
                    <option value="49"> Desbloqueado </option>
                    <option value="28"> Disponible </option>
                    <option value="29"> Servicio</option>
                </select>
            </div>
            <div class="col">
                Conductor
                <select formControlName="driver" class="custom-select" id="inputGroupSelect04">
                    <option value=''>Conductores Disponibles</option>
                    <option *ngFor="let item of arrayConductor" value="{{item.idConductor}}">{{item.primer_nombre}}
                        {{item.segundo_nombre}}</option>
                </select>
            </div>
        </div>

        <div class="col-4 mt-5" style="margin:0 auto;">
            <button class="btn btn-round btn-high" [disabled]="!form.valid" (click)="search()">Buscar</button>
            <button class="btn btn-round btn-high float-right" (click)="resetFormFilter()">Limpiar</button>
        </div>
    </form>
    <form action="">
        <div class="row mt-3">
            <div class="col-lg-12 col-sm-12 col-lg-12">
                <label for="">Busqueda avanzada</label>
                <input type="text" name="busqueda" id="" class="form-control"
                    placeholder="Escriba una palabra clave para realizar su busqueda">
            </div>
        </div>
    </form>
</div>