<div class="container">
    <div class="row mt-1 ml-5 align-self-center">

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-5 py-4 pr-2 ml-3">
            <form>
                <div class="form-group mt-5">
                    <label for="exampleInputEmail1" class="mt-5">Correo Electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        formControlName="usuario" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a routerLink="/Acceso" class="ml-3 btn btn-outline-primary sign" data-toggle="modal" data-target="#registro">Regresar</a>
            </form>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ml-4 mb-4">
            <img src="https://img.freepik.com/vector-gratis/registro-acceso-contrasena-inicio-sesion-concepto-sitio-web-linea-internet-ilustracion-plana_385073-108.jpg" alt="recovery" class="d-block mx-auto"
            style="width: 90%;">
        </div>
    </div>
</div>